<p>{{ current_user.username }}</p>
<img src="{{ user_profile_pic }}" alt="Profile Pic" class="img-rounded">
<form action="" method="POST" enctype="multipart/form-data">
	{{ form.hidden_tag() }}
		<div>
			<p>{{ form.email.label }}</p>
			{{ form.email }}
			<br>
			{% for err in form.email.errors %}
				<span style="color: red;">{{ err }}</span>
			{% endfor %}
		</div>
		<div>
			<p>{{ form.about_me.label }}</p>
			{{ form.about_me }}
			<br>
			{% for error in form.about_me.errors %}
				<span style="color: red;">{{ error }}</span>
			{% endfor %}
		</div>
		<br>
		<div>
            {{ form.profile_pic.label() }}
            <!-- if any validation errors -->
            {% if form.profile_pic.errors %}
                {% for error in form.profile_pic.errors %}
                    <span class="text-danger">{{ error }}</span></br>
                {% endfor %}
            {% endif %}
            {{ form.profile_pic(class="form-control-file") }}
        </div>
        <br>
		<p>{{ form.submit }}</p>
</form>